.main-block {
  display: inline-block;
  min-width: 250px;
  margin: 10px 10px 0 10px;
  padding: 40px;
  border: 1px solid black;
}
.find-block button {
  font-size: 18px;
  margin: 0 10px 5px 0;
}
input {
  font-size: 18px;
}
.find-block input {
  width: 210px;
}
.input-block {
  display: flex;
  align-items: center;
}
.red-shadow {
  border-color: rgba(255, 0, 0, 0.788);
  box-shadow: inset 0 0 5px 1px red;
}
.todo-list {
  padding: 0;
}
.list-item {
  margin: 1px 0;
  font-size: 20px;
}
.important {
  color: red;
}
.button-delete {
  margin: 0 10px;
  color: rgb(255, 0, 0);
}
.button-important {
  margin: 3px 10px 3px 5px;
  color: rgb(172, 172, 0);
}
.addCase {
  margin: 0 0 0 5px;
  padding: 2px 6px;
  border-radius: 5px;
  color: green;
  border-color: green;
  border-width: 1px;
}
